<div class="container">
  <div class="logo-text">

    <button class="image" onclick="location.href='/profile/{{user._id}}/edit'"
      type="button"
    >Edit</button>

    {{#if user.user_img}}
      <img id="profileimg" src="{{user.user_img}}" alt="Profile Image" />
    {{else}}
      <img
        id="profileimg"
        src="/images/profile/default.jpg"
        alt="Not image avariable"
      />
    {{/if}}
    <h1 class="title">Hi {{user.username}} !</h1>
 

  <h3 class="profile-points">{{user.points}} POINTS</h3>

  <img id="instructions" alt="insructions" src="/images/extra/Instructions.jpg">

 </div>
</div>

<footer class="footer">
  <ul>
    <li><a href="/ranking"><img
          width="45"
          height="45"
          src="/navbar/ranking.png"
        /></a></li>
    <li><a class="playButton" href="/game/select"><img
          width="50"
          height="50"
          src="/navbar/play2.png"
        /></a></li>
    <li>
      <form action="/auth/logout" method="POST"><button type="submit"><img
            width="45"
            height="45"
            src="/navbar/logout.png"
          /></button></form>
    </li>
  </ul>
</footer>