<div class="container">
  <div class="logo-text">

    <button class="image" onclick="location.href='/profile/{{user._id}}/edit'"
      type="button"
    >Edit</button>

    {{#if user.user_img}}
      <img id="profileimg" src="{{user.user_img}}" alt="Profile Image" />
    {{else}}
      <img
        id="profileimg"
        src="/images/profile/default.jpg"
        alt="Not image avariable"
      />
    {{/if}}
    <!--<img src="/images/styles/logo.png" class="logo-png" />-->
    <h1 class="title">Hi {{user.username}} !</h1>
  </div>

  <!-- <div class="changeprofileimg">
    <form
      method="POST"
      action="/auth/{{user._id}}/edit"
      enctype="multipart/form-data"
    >
      <label class="custom-file-upload">
        <img src="/images/profile/change.png" alt="Not image avariable" />
        Change Image
        <input type="file" name="user_img" />
        <input type="text" name="existingImage" hidden value="{{user.user_img}}">
      </label>
      <button class="save-changes" type="submit">Save changes</button>
    </form>
  </div> -->

  <h3 class="profile-points">{{user.points}} POINTS</h3>

  <div class="profile-info">
    <img src="/images/quizzes/js.png" />
    <img src="/images/quizzes/css.png" />
    <img src="/images/quizzes/html.png" />
  </div>
</div>

<footer class="footer">
  <ul>
    <li><a><img width="45" height="45" src="/navbar/ranking.png" /></a></li>
    <li><a class="playButton" href="/game/select"><img
          width="50"
          height="50"
          src="/navbar/play2.png"
        /></a></li>
    <li>
      <form action="/auth/logout" method="POST"><button type="submit"><img
            width="45"
            height="45"
            src="/navbar/logout.png"
          /></button></form>
    </li>
  </ul>
</footer>