<div class="container">

<h1 class="title">Finish!</h1>

<h2>Total right answers: {{total_right_answers}} / {{num_questions}}</h2>
<h2>Total incorrect answers: {{total_wrong_answers}} / {{num_questions}}</h2>
<h2>Points Won in Game: {{total_points}}</h2>
<br>

{{#each answersArrObject}}
  {{#if this.answersArray}}
    <h2>Question {{index}} is correct!</h2>
  {{else}}
    <h2>Question {{index}} is wrong!</h2>
  {{/if}}
{{/each}}

<p>
  <a class="homelink noformcontainer" href="/">&larr; Back Home</a>
</p>

</div>