<div class="container">

  <h1 class="title">Finish!</h1>
  <h3 class="question">Right answers:
    {{total_right_answers}}
    /
    {{num_questions}}</h3>
  <!-- <h2>Total incorrect answers: {{total_wrong_answers}} / {{num_questions}}</h2> -->
  <h3 class="profile-points"> {{userData.username}} {{total_points}} POINTS WON!</h3>

  {{#if userData.user_img}}
    <img id="resultImgProfile" src={{userData.user_img}} alt="Not image avariable" />
  {{else}}
    <img id="resultImgProfile" src="/images/profile/default.jpg" alt="Not image avariable" />
  {{/if}}

  
  <div class="card-container">
    <div class="card-select">
      {{#each answersArrObject}}
        {{#if this.answersArray}}
          <h3 class="qCorrect">Q{{index}} Correct!</h3>
        {{else}}
          <h3 class="qWrong">Q{{index}} Wrong!</h3>
        {{/if}}
      {{/each}}
    </div>
  </div>
  <p>
    <a class="homelink noformcontainer" href="/game/select">&larr; Back Select
      Game</a>
  </p>

</div>