<div class="container">

<h1 class="title">Select to Play!</h1>
<h3 class="profile-points">{{ user.points }} POINTS</h3>
<!-- <h6>(unlocked games)</h6> -->


<div class="card-container">
  {{#if quizzes}}
    {{#each quizzes}}
      <div class="card-select">
        {{#if this.quiz_img}}
          <a href="/game/{{this._id}}"><img
              src="{{this.quiz_img}}"
              alt="Image of quiz"
            /></a>
        {{else}}
          <img src="/images/quizzes/default.jpg" alt="Not image avariable" />
        {{/if}}
        <h2><a href="/game/{{this._id}}">{{this.title}}</a></h2>
        <h4>{{this.num_questions}} questions</h4>
      </div>
    {{/each}}
  {{else}}
    <h3>Not quizzes avariable</h3>
  {{/if}}
</div>

<!-- <h4>You don't have enough points to play to the following Quizzes:</h4> -->
<footer class="footer">
  <ul>
    <li><button onclick="history.back()"><img width = "45" height = "45" src="/navbar/back.png"></button></li>
    <li>
      <form action="/auth/logout" method="POST"><button type="submit"><img width = "45" height = "45" src="/navbar/logout.png"></button></form>
    </li>
  </ul>
</footer>