<div class="container">

<h1 class="title">Select your Quiz!</h1>
<h4>Total Points: {{ user.points }}</h4>
<h6>(unlocked games)</h6>


<div class="card-container">
  {{#if quizzes}}
    {{#each quizzes}}
      <div class="card">
        <h4><a href="/game/{{this._id}}">{{this.title}}</a></h4>
        {{#if this.quiz_img}}
          <a href="/game/{{this._id}}"><img
              src="{{this.quiz_img}}"
              alt="Image of quiz"
            /></a>
        {{else}}
          <img src="/images/quizzes/default.jpg" alt="Not image avariable" />
        {{/if}}
        <h6>Questions: {{this.num_questions}}</h6>
      </div>
    {{/each}}
  {{else}}
    <h3>Not quizzes avariable</h3>
  {{/if}}
</div>

<!-- <h4>You don't have enough points to play to the following Quizzes:</h4> -->
<footer class="footer">
  <ul>
    <li><a href="">Profile</a></li>
    <li><a href="/">Logout</a></li>
  </ul>
</footer>