<div class="container">
  <h1 class="title">Edit Quizzes</h1>

  <form method="POST" action="/quizzes/{{quiz._id}}/edit">

    <label>Title</label>
    <input
      type="text"
      name="title"
      placeholder="Write a Title"
      required
      minlength="2"
      maxlength="50"
      value="{{quiz.title}}"
    />

    <label>Description</label>
    <input
      type="text"
      name="description"
      placeholder="Write a Description"
      maxlength="100"
      value="{{quiz.description}}"
    />

    <label>Category</label>
    <select name="category" id="category-select">
      {{#each arrayCurrentCategory}}
        {{#if this.isCurrent}}
          <option value={{this.category}} selected>{{this.category}}</option>
        {{else}}
          <option value={{this.category}}>{{this.category}}</option>
        {{/if}}
      {{/each}}
    </select>

    <label>Difficulty</label>
    <select name="difficulty" id="difficulty-select">
      {{#each arrayCurrentDifficulty}}
        {{#if this.isCurrent}}
          <option
            value={{this.difficulty}}
            selected
          >{{this.difficulty}}</option>
        {{else}}
          <option value={{this.difficulty}}>{{this.difficulty}}</option>
        {{/if}}
      {{/each}}
    </select>

    <label>Points Required</label>
    <input
      type="number"
      name="points_required"
      min="1"
      max="250"
      value="{{quiz.points_required}}"
    />

    <label>Num Questions (randomly chosen)</label>
    <input
      type="number"
      name="num_questions"
      min="1"
      max="10"
      value="{{quiz.num_questions}}"
    />

    <label class="check-label"><input class="input-check"
        type="checkbox"
        name="isVisible"
        {{#if quiz.isVisible}}
        checked="{{quiz.isVisible}}"
        {{/if}}
    />Visible for users</label>

    <label>Image</label>
    <select name="images" id="images-select">
      {{#each arrayCurrentImages}}
        {{#if this.isCurrent}}
          <option
            value={{this.quiz_img}}
            selected
          >{{this.quiz_img}}</option>
        {{else}}
          <option value={{this.quiz_img}}>{{this.quiz_img}}</option>
        {{/if}}
      {{/each}}
    </select>

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}

    <div class="action-buttons">
      <button type="submit">Save</button>
    </div>

  </form>

  <p>
    <a class="homelink noformcontainer" href="/">&larr; Back Home</a>
  </p>
</div>