<div class="container">
  <h1 class="title">New Quiz</h1>

  <form method="POST" action="/quizzes/create">

    <label>Title</label>
    <input
      type="text"
      name="title"
      placeholder="Write a Title"
      required
      minlength="2"
      maxlength="50"
    />

    <label>Description</label>
    <input
      type="text"
      name="description"
      placeholder="Write a Description"
      maxlength="100"
    />

    <label>Category</label>
    <select name="category" id="category-select">
        {{#each enumValues.category}}
            <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>

    <label>Difficulty</label>
    <select name="difficulty" id="difficulty-select">
        {{#each enumValues.difficulty}}
            <option value={{this}}>{{this}}</option>
        {{/each}}
    </select>

    <label>Points Required</label>
    <input
      type="number"
      name="points_required"
      min="1" max="250"
    />

    <label>Num Questions (randomly chosen)</label>
    <input
      type="number"
      name="num_questions"
      min="1" max="10"
    />

    <label class="check-label"><input class="input-check" type="checkbox" name="isVisible" value="true" checked="true"/>Visible for users</label>

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}

    <button class= "login" type="submit">Create</button>

 <footer class="footer">
  <ul>
    <li><button onclick="history.back()"><img width = "45" height = "45" src="/navbar/back.png"></button></li>
    <li>
      <form action="/auth/logout" method="POST"><button type="submit"><img width = "45" height = "45" src="/navbar/logout.png"></button></form>
    </li>
  </ul>
 </footer>

</div>