<h1 class="title">Detail of a Quiz</h1>
<div class="card-container">
  <div class="card">
    <h3>{{this.title}}</h3>
    <h4>{{this.description}}</h4>
    <h4>Category: {{this.category}} | Difficulty: {{this.difficulty}}</h4>
    <h4>Points required: {{this.points_required}}</h4>
    <h4>Number of questions: {{this.num_questions}}</h4>
    <h4>Visibility: {{this.isVisible}}</h4>
    <h4>List of Questions:</h4>
    {{#each this.question}}
      <h3><a href="/questions/{{this._id}}">Question {{@index}} </a></h3>
    {{/each}}
  </div>
</div>

<div class="action-buttons">
  <form method="POST" action="/quizzes/{{this._id}}/delete">
    <button type="submit">Delete</button>
  </form>

  <button
    onclick="location.href='/quizzes/{{this._id}}/edit'"
    type="button"
  >Edit</button>
</div>

<p>
  <a class="homelink noformcontainer" href="/">&larr; Back Home</a>
</p>