<h4>List of all Quizzes</h4>

<div>
  {{#if quizzes}}
    {{#each quizzes}}
      <h3><a href="/quizzes/{{this._id}}">Title: {{this.title}}</a></h3>
      <h6>Category: {{this.category}}</h6>
      <h6>Difficulty: {{this.difficulty}}</h6>
      <h3>List of Questions:</h3>
      {{#each this.question}}
        <h3><a href="/questions/{{this._id}}">ID: {{this._id}}</a></h3>
      {{/each}}
    {{/each}}
  {{else}}
    <h3>Not quizzes avariable</h3>
  {{/if}}
</div>

<a href="/">Back Home Page</a>