<div class="container">
  <h1 class="title">Detail of a Quiz</h1>
  
  <div class="card-container">
    <div class="card-detail-quiz">
      <h2 class="titleCard">{{this.title}}</h2>
      <h3 class="question">{{this.description}}</h>
      <h4>- {{this.category}} | {{this.difficulty}} -</h4>
      <br>
      <h4 class="rofile-points" >Points required: {{this.points_required}}</h4>
      <h4>{{this.num_questions}} questions</h4>
      <h4>Visibility: {{this.isVisible}}</h4>
      <br>
      <h4>List of Questions:</h4>
      <br>
        {{#each this.question}}
          <h4><a href="/questions/{{this._id}}">Question
            {{indexOfQuestions}}
          </a></h4>
        {{/each}}
        <br>
    </div>
  </div>

  <div class="action-buttons">
    <form method="POST" action="/quizzes/{{this._id}}/delete">
      <button type="submit">Delete</button>
    </form>

    <button
      onclick="location.href='/quizzes/{{this._id}}/edit'"
      type="button"
    >Edit</button>
  </div>

  <footer class="footer">
    <ul>
      <li><button onclick="history.back()"><img
            width="45"
            height="45"
            src="/navbar/back.png"
          /></button></li>
      <li>
        <form action="/auth/logout" method="POST"><button type="submit"><img
              width="45"
              height="45"
              src="/navbar/logout.png"
            /></button></form>
      </li>
    </ul>
  </footer>

</div>
