<h1>Edit Questions</h1>

<form method="POST" action="/questions/{{this._id}}/edit">

  <label>Question</label>
  <input
    type="text"
    name="question"
    required
    minlength="3"
    maxlength="50"
    value="{{this.question}}"
  />

  <label>Correct Answer</label>
  <input
    type="text"
    name="correct_answer"
    maxlength="20"
    value="{{this.correct_answer}}"
  />

  <label>Incorrect Answer1</label>
  <input
    type="text"
    name="incorrect_answers_0"
    maxlength="20"
    value="{{this.incorrect_answers.[0]}}"
  />

  <label>Incorrect Answer2</label>
  <input
    type="text"
    name="incorrect_answers_1"
    maxlength="20"
    value="{{this.incorrect_answers.[1]}}"
  />

  <label for="category">Category:</label>
  <select name="category" id="category">
    <option value="JAVASCRIPT">JAVASCRIPT</option>
    <option value="CSS">CSS</option>
    <option value="HTML">HTML</option>
  </select>

  <label for="difficulty">Difficulty:</label>
  <select name="difficulty" id="difficulty">
    <option value="BASIC">BASIC</option>
    <option value="MEDIUM">MEDIUM</option>
    <option value="ADVANCE">ADVANCE</option>
  </select>

  <label><input
      type="checkbox"
      name="isVisible"
      {{#if this.isVisible}}
      checked="{{this.isVisible}}"
      {{/if}}
    />Visible</label>

  <label>Image</label>
  <input
    type="text"
    name="question_img"
    maxlength="80"
    value="{{this.question_img}}"
  />

  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}

  <button type="submit">Save changes</button>

</form>

<a class="homelink" href="/">Back Home Page</a>