<div class="container">
  <h1 class="title">Edit Questions</h1>

  <form method="POST" action="/questions/{{question._id}}/edit"  enctype="multipart/form-data">

    <label>Question</label>
    <input
      type="text"
      name="question"
      required
      minlength="3"
      maxlength="50"
      value="{{question.question}}"
    />

    <label>Correct Answer</label>
    <input
      type="text"
      name="correct_answer"
      maxlength="20"
      value="{{question.correct_answer}}"
    />

    <label>Incorrect Answer1</label>
    <input
      type="text"
      name="incorrect_answers_0"
      maxlength="20"
      value="{{question.incorrect_answers.[0]}}"
    />

    <label>Incorrect Answer2</label>
    <input
      type="text"
      name="incorrect_answers_1"
      maxlength="20"
      value="{{question.incorrect_answers.[1]}}"
    />

    <label>Category</label>
    <select name="category" id="category-select">
      {{#each arrayCurrentCategory}}
        {{#if this.isCurrent}}
          <option value={{this.category}} selected>{{this.category}}</option>
        {{else}}
          <option value={{this.category}}>{{this.category}}</option>
        {{/if}}
      {{/each}}
    </select>

    <label>Difficulty</label>
    <select name="difficulty" id="difficulty-select">
      {{#each arrayCurrentDifficulty}}
        {{#if this.isCurrent}}
          <option
            value={{this.difficulty}}
            selected
          >{{this.difficulty}}</option>
        {{else}}
          <option value={{this.difficulty}}>{{this.difficulty}}</option>
        {{/if}}
      {{/each}}
    </select>

    <label class="check-label"><input class="input-check"
        type="checkbox"
        name="isVisible"
        {{#if question.isVisible}}
        checked="{{question.isVisible}}"
        {{/if}}
    />Visible for users</label>

    <label>Image</label>
    <input type="file" name="question_img" />

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}

    <div class="action-buttons">
      <button class="save-changes" type="submit">Save changes</button>
    </div>
    
  </form>

 <footer class="footer">
  <ul>
    <li><button onclick="history.back()"><img width = "45" height = "45" src="/navbar/back.png"></button></li>
    <li>
      <form action="/auth/logout" method="POST"><button type="submit"><img width = "45" height = "45" src="/navbar/logout.png"></button></form>
    </li>
  </ul>
 </footer>

</div>