<div class="container">
  <h1 class="title">New Questions</h1>

  <form method="POST" action="/questions/create" enctype="multipart/form-data">

    <label>Question</label>
    <input
      type="text"
      name="question"
      placeholder="Write a Question"
      required
      minlength="3"
      maxlength="50"
    />

    <label>Correct Answer</label>
    <input
      type="text"
      name="correct_answer"
      placeholder="Write an Answer"
      maxlength="20"
    />

    <label>Incorrect Answer 1</label>
    <input
      type="text"
      name="incorrect_answers_0"
      placeholder="Write incorrect answer 1"
      maxlength="20"
    />

    <label>Incorrect Answer 2</label>
    <input
      type="text"
      name="incorrect_answers_1"
      placeholder="Write incorrect answer 2"
      maxlength="20"
    />

    <label>Category</label>
    <select name="category" id="category-select">
      {{#each enumValues.category}}
        <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>

    <label>Difficulty</label>
    <select name="difficulty" id="difficulty-select">
      {{#each enumValues.difficulty}}
        <option value={{this}}>{{this}}</option>
      {{/each}}
    </select>

    <label class="check-label"><input class="input-check" type="checkbox" name="isVisible" value="true" checked="true"/>Visible for users</label>

    <label>Image</label>
    <input type="file" name="question_img" />

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}

    <button class="login" type="submit">Create</button>

  </form>
  <p>
    <a class="homelink" href="/">&larr; Back Home</a>
  </p>
</div>