<h1> Questions </h1>

<div>
  {{#each questions}}

    <h3>Question: {{this.question}}</h3>
    <h4>Correct answer: {{this.correct_answer}}</h4>
    <h4>Correct answer:{{this.incorrect_answers}}</h4>
    <h6>Category: {{this.category}}</h6>
    <h6>Difficulty: {{this.difficulty}}</h6>
    {{#if this.question_img}}
      <img src="{{this.question_img}}" alt="Image of question" />
    {{else}}
      <img src="images/default" alt="Not image avariable" />
      <!-- Buscar Imagen default -->
    {{/if}}
    <h6>Visibility: {{this.isVisible}}</h6>

  {{/each}}
</div>

<a class="homelink" href="/">Back Home Page</a>